@font-face{
  font-family: 'galano-grotesque';
  src: url('../../Assets/fonts/Galano\ Grotesque.otf')
}

@font-face{
  font-family: 'galano-grotesque-bold';
  src: url('../../Assets/fonts/Galano\ Grotesque\ Medium.otf')
}

.home-page{
  color: white;
  font-family: 'galano-grotesque-bold';
}

.playlist-card-wrapper{
  margin: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
