@font-face{
  font-family: 'galano-grotesque-bold';
  src: url('../../Assets/fonts/Galano\ Grotesque\ Medium.otf')
}

.home-page{
  color: white;
  font-family: 'galano-grotesque-bold';
}

.playlist-card-wrapper{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #121212;
}

.no-data-page{
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}